@media screen and (max-width: 800px) {
	.wvc-row-mobile-reverse .wvc-columns-container {
		flex-direction: column-reverse;
		display: flex;
	}

	.wvc-row-mobile-reverse .wvc-columns-container .wvc-element {
		margin-bottom: 35px;
	}
}
