@media screen and (max-width: 800px) {
	.wvc-row-mobile-reverse .wvc-columns-container {
		flex-direction: column-reverse;
		display: flex;
	}

	.wvc-row-mobile-reverse .wvc-columns-container .wvc-element {
		margin-bottom: 35px;
	}
}

/* Hide social icons in menu on mobile */
.mobile-screen #mobile-bar .wvc-socials-container,
.mobile-screen #mobile-bar .wolf-core-socials-container {
	display: none !important;
}

#mobile-bar .flex-mobile-wrap {
	width: 100% !important;
}

/* Variation swatch width */
.swatch{
    width:30px!important;
    height:30px!important;
}
