@media screen and (max-width: 800px) {
	.wvc-row-mobile-reverse .wvc-columns-container {
		flex-direction: column-reverse;
		display: flex;
	}

	.wvc-row-mobile-reverse .wvc-columns-container .wvc-element {
		margin-bottom: 35px;
	}
}

/* Hide social icons in menu on mobile */
.mobile-screen #mobile-bar .wvc-socials-container,
.mobile-screen #mobile-bar .wolf-core-socials-container {
	display: none !important;
}

#mobile-bar .flex-mobile-wrap {
	width: 100% !important;
}

/* Variation swatch width */
.swatch{
    width:30px!important;
    height:30px!important;
}

i.fab.fa-twitter,
i.fab.fa-x {
	cursor: pointer;
	//content: url(../img/x.svg);
	color: inherit;
	margin: 0 auto;
}

.fa-twitter{
	&:before{
		display: none;
	}
}

.fa-twitter{
	svg{
		position: relative;
		cursor: pointer;
	}
}

.fa-1x{
	.fa-twitter {
		svg {
			top: 2px;
		}
	}
}

.fa-2x {
	.fa-twitter {
		svg {
			top: 2px;
		}
	}
}

.fa-3x {
	.fa-twitter {
			svg {
				top: 5px;
			}
		}
}

.fa-4x {
	.fa-twitter {
		svg {
			top: 6px;
		}
	}
}

.fa-5x {
	.fa-twitter {
		svg {
			top: 6px;
		}
	}
}
