[class^="line-icon-"]:before, [class*=" line-icon-"]:before{
  display: inline-block;
  font: normal normal normal 14px/1 'line-icons';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-icon-heart:before {

  content: "\e600";
}

.line-icon-cloud:before {
  content: "\e601";
}

.line-icon-star:before {
  content: "\e602";
}

.line-icon-tv:before {
  content: "\e603";
}

.line-icon-sound:before {
  content: "\e604";
}

.line-icon-video:before {
  content: "\e605";
}

.line-icon-trash:before {
  content: "\e606";
}

.line-icon-user:before {
  content: "\e607";
}

.line-icon-key:before {
  content: "\e608";
}

.line-icon-search:before {
  content: "\e609";
}

.line-icon-settings:before {
  content: "\e60a";
}

.line-icon-camera:before {
  content: "\e60b";
}

.line-icon-tag:before {
  content: "\e60c";
}

.line-icon-lock:before {
  content: "\e60d";
}

.line-icon-bulb:before {
  position: relative;
  content: "\e60e";
}

.line-icon-pen:before {
  content: "\e60f";
}

.line-icon-diamond:before {
   position: relative;
  content: "\e610";
}

.line-icon-display:before {
  content: "\e611";
}

.line-icon-location:before {
  content: "\e612";
}

.line-icon-eye:before {
  content: "\e613";
}

.line-icon-bubble:before {
  content: "\e614";
}

.line-icon-stack:before {
  content: "\e615";
}

.line-icon-cup:before {
  content: "\e616";
}

.line-icon-phone:before {
  content: "\e617";
}

.line-icon-news:before {
  content: "\e618";
}

.line-icon-mail:before {
  content: "\e619";
}

.line-icon-like:before {
  content: "\e61a";
}

.line-icon-photo:before {
  content: "\e61b";
}

.line-icon-note:before {
  content: "\e61c";
}

.line-icon-clock:before {
  content: "\e61d";
}

.line-icon-paperplane:before {
  content: "\e61e";
}

.line-icon-params:before {
  content: "\e61f";
}

.line-icon-banknote:before {
  content: "\e620";
}

.line-icon-data:before {
  content: "\e621";
}

.line-icon-music:before {
  content: "\e622";
}

.line-icon-megaphone:before {
  content: "\e623";
}

.line-icon-study:before {
  content: "\e624";
}

.line-icon-lab:before {
  content: "\e625";
}

.line-icon-food:before {
  content: "\e626";
}

.line-icon-t-shirt:before {
  content: "\e627";
}

.line-icon-fire:before {
  content: "\e628";
}

.line-icon-clip:before {
  content: "\e629";
}

.line-icon-shop:before {
  content: "\e62a";
}

.line-icon-calendar:before {
  content: "\e62b";
}

.line-icon-wallet:before {
  content: "\e62c";
}

.line-icon-vynil:before {
  content: "\e62d";
}

.line-icon-truck:before {
  content: "\e62e";
}

.line-icon-world:before {
  content: "\e62f";
}