/* Background colors */

// green
.wvc-background-color-gradient-color-105898{
	background:$gradient-color-105898;
}

// Green cirlce
.wvc-background-color-gradient-color-111420{
	background:$gradient-color-111420;
	background:$webkit-gradient-color-111420;
}

// red (salient)
.wvc-background-color-gradient-color-3452ff{
	background:$gradient-color-3452ff;
}

// red (uncode)
.wvc-background-color-gradient-color-588694{
	background:$gradient-color-588694;
}

// orange
.wvc-background-color-gradient-color-470604{
	background: $gradient-color-470604;
}

// vioet instagram
.wvc-background-color-gradient-color-b900b4{
	background: $gradient-color-b900b4;
}

