/* text colors */

// green
.wvc-text-color-gradient-color-105898{
	background:$gradient-color-105898;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// red (salient)
.wvc-text-color-gradient-color-3452ff{
	background:$gradient-color-3452ff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// red (uncode)
.wvc-text-color-gradient-color-588694{
	background:$gradient-color-588694;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// green circle
.wvc-text-color-gradient-color-111420{
	background:$gradient-color-111420;
	background:$webkit-gradient-color-111420;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// Orange
.wvc-text-color-gradient-color-470604{
	background:$gradient-color-470604;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// Vioet instagram
.wvc-text-color-gradient-color-b900b4{
	background:$gradient-color-b900b4;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}