.wvc-album-disc {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
}

.wvc-ad-cover-img {
	width: 100%;
}

.wvc-ad-align-left {
	margin-left: 0;
}

.wvc-ad-align-right {
	margin-right: 0;
}

.wvc-ad-cover-container {
	margin: 0 32% 10px 0;
	position: relative;
	z-index: 1;
}

.wvc-ad-link-mask {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 14;
}

.wvc-ad-cover-inner {
	position: relative;
	z-index: 0;
	box-shadow: 0px 10px 3px -9px rgba(0, 0, 0, 0.77); // small black
	//0px 10px 7px -2px rgba(255,255,255,0.14); // whit bottom
	//padding: 2px;
	overflow: hidden;
}

.wvc-ad-disc-inner {
	//position: relative;
	//z-index: 0;
	width: 100%;
	height: 100%;
}

.wvc-ad-cover-img {
	//padding: 2px;
	border-radius: 2px;
	position: relative;
	left: 1px;
	//box-shadow:-34px 22px 41px -24px rgba(0,0,0,.44); // big back
	backface-visibility: hidden;
}

.wvc-ad-cover-border {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -1px;
	left: 0;
	bottom: 0;
	right: 0;
	background: transparent url("../img/album-disc/cd-cover-border.png") left top
		no-repeat;
	background-size: cover;
	opacity: 0.88;
}

.wvc-ad-worn-border-no {
	.wvc-ad-cover-border {
		background: none;
	}
}

.wvc-ad-disc-container {
	position: absolute;
	transition: all 0.7s cubic-bezier(0, 0.45, 0.54, 0.99);
	transform: translate3d(0, 0, 0) rotate(0);
	border-radius: 50%;
	overflow: hidden;
}

// CD
.wvc-ad-cd {
	.wvc-ad-disc-container {
		top: 14px;
		left: 14px;
		width: calc(100% - 28px);
		height: calc(100% - 28px);
		box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.66),
			0px 0px 0px 5px rgba(0, 0, 0, 0.22), 0px 0px 0px 3px rgba(0, 0, 0, 0.88);
	}
}

.wvc-ad-disc-text {
	z-index: 5;
	position: absolute;
	width: calc(100% - 5px);
	height: calc(100% - 5px);
	top: 5px;
	left: 5px;
	background: transparent url("../img/album-disc/cd-disc-circular-text.png")
		left top no-repeat;
	transform: translate3d(0, 0, 0);
	background-size: cover;
	opacity: 0.88;
	margin: -2px;
}

.wvc-ad-disc-hole {
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	height: 32.5%;
	width: 32.5%;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.99);
	z-index: 2;
	background: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	//display: none;
}

// Vinyl
.wvc-vinyl {
	z-index: 5;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent url("../img/album-disc/vinyl.png") left top no-repeat;
	background-size: cover;
}

.wvc-ad-disc-img {
	backface-visibility: hidden;
	width: 100%;
	width: 100%;
	vertical-align: middle;
}

.wvc-ad-vinyl {
	.wvc-ad-disc-container {
		top: 1%;
		left: 1%;
		width: 98%;
		height: 98%;
	}

	.wvc-ad-disc-img {
		width: 40%;
		height: 40%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 0;
	}
}

.animated.wvc-ad-reveal {
	transform: translate3d(40%, 0, 0) rotate(-42deg);
}

.wvc-ad-has-link:hover {
	.wvc-ad-disc-inner {
		//margin-left: 15px;
	}
}

.wvc-ad-cover-inner {
	//opacity: .2; // debug
}

// Album disc rotate effect
.wvc-ad-rotate-always,
.wvc-ad-rotate-hover,
.wvc-ad-rotate-hover-stop {
	.wvc-ad-disc-inner {
		animation: disc_spin 3.5s linear infinite;
	}
}

.wvc-ad-rotate-hover {
	&:not(:hover) .wvc-ad-disc-inner {
		animation-play-state: paused;
	}
}

.wvc-ad-rotate-hover-stop {
	&:hover .wvc-ad-disc-inner {
		animation-play-state: paused;
	}
}

@keyframes disc_spin {
	100% {
		transform: rotate(360deg);
	}
}

.wvc-no-animations {
	.wvc-ad-reveal {
		transform: translate3d(40%, 0, 0) rotate(-42deg);
	}
}
