.wvc-audio-shortcode-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.wvc-as-align-left{
	margin-left: 0;
}

.wvc-as-align-right{
	margin-right: 0;
}


.wvc-audio-shortcode-container-has-image{
	img{
		width: 100%;
	}
}