.wvc-bandwintown-events .bit-widget{
	font-size: inherit;
}

.wvc-bandwintown-tracking-button{
	&.wvc-btb-align-center{
		iframe{
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.wvc-btb-align-left{
		iframe{
			margin-left: 0;
			margin-right: auto;
		}
	}

	&.wvc-btb-align-right{
		iframe{
			margin-left: auto;
			margin-right: 0;
		}
	}
}