.vc-hoverbox-front{
	.wvc-fittext,
	.wvc-fittext-link{
		color: #fff!important;
	}
}

.wvc-hover-box-back-has-background{
	color: #fff!important;

	.wvc-fittext,
	.wvc-fittext-link{
		color: #fff!important;
	}
}

.wvc-hoverbox .vc-hoverbox-block-inner{
	padding: 45px;
}