.wvc-iframe-opener-container{

	margin-left: auto;
	margin-right: auto;

	a{
		display: block;
		outline: none;
		width: 120px;
		transition:transform .2s ease-out;
		text-align: center;
		margin: 0 auto;
		//top: 50%;
		position: relative;
		//transform: translateY(-50%);

		&:hover{
			//transform:scale(1.05);
		}
	}
}

.wvc-iframe-opener-align-left{
	margin-left: 0;

	.wvc-iframe-opener{
		margin-left: 0;
	}
}

.wvc-iframe-opener-align-right{
	margin-right: 0;

	.wvc-iframe-opener{
		margin-right: 0;
	}
}

.wvc-iframe-opener{
	//width: 90px;
	//height: 90px;
}

.wvc-iframe-opener-default a{
	height: 66px;
}

.wvc-iframe-opener-icon{
	background:#333;
	color: #000;
	box-shadow: inset 0 0 0 2px #333;
}

.wvc-iframe-opener-attention-seeker{
	.wvc-icon-container{
		position: relative;
	}

	.wvc-icon-background-fill{
		top: 0;
		left: 0;
		padding: 0;
		z-index: -1;
		box-shadow: 0 0 0 2px;
		opacity: 0;
		transform: scale(0.9);
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		box-sizing: content-box;
	}
}

.wvc-font-dark{
	.wvc-iframe-opener-attention-seeker .wvc-icon-background-fill{
		animation:sonarEffectDark 1.3s infinite ease-out 75ms;
	}
}

.wvc-font-light{
	.wvc-iframe-opener-attention-seeker .wvc-icon-background-fill{
		animation:sonarEffectLight 1.3s infinite ease-out 75ms;
	}
}

.admin-bar{
	.lity-close{
		top: 32px;
	}
}

.wvc-iframe-opener-caption-position-top,
.wvc-iframe-opener-caption-position-bottom,
.wvc-iframe-opener-caption-position-left,
.wvc-iframe-opener-caption-position-right{


}

.wvc-iframe-opener-caption-position-top .wvc-iframe-opener-caption-container,
.wvc-iframe-opener-caption-position-bottom .wvc-iframe-opener-caption-container{
	text-align: center;
	//flex-direction:column;

	.wvc-iframe-opener-caption{
		display: block;
	}
}

.wvc-iframe-opener-caption-position-top .wvc-iframe-opener-caption-container{
	.wvc-iframe-opener-caption{
		margin-bottom: 28px;
	}
}

.wvc-iframe-opener-caption-position-bottom .wvc-iframe-opener-caption-container{
	.wvc-iframe-opener-caption{
		margin-top: 28px;
	}
}

.wvc-iframe-opener-caption-position-left .wvc-iframe-opener-caption-container,
.wvc-iframe-opener-caption-position-right .wvc-iframe-opener-caption-container{
	display: flex;
	flex-direction:row;
	align-items:center;
}

.wvc-iframe-opener-caption-position-left .wvc-iframe-opener-caption-container{
	.wvc-iframe-opener{
		margin-left: 30px;
	}
}

.wvc-iframe-opener-caption-position-right .wvc-iframe-opener-caption-container{
	.wvc-iframe-opener{
		margin-right: 30px;
	}
}

.wvc-iframe-opener-align-center{

	.wvc-iframe-opener-caption-container{
		justify-content: center;
	}

	&.wvc-iframe-opener-caption-position-left{
		.wvc-iframe-opener{
			margin-right: 0;
		}
	}

	&.wvc-iframe-opener-caption-position-right{
		.wvc-iframe-opener{
			margin-left: 0;
		}
	}
}

.wvc-iframe-opener-align-left{
	.wvc-iframe-opener-caption-container{
		justify-content: flex-start;
	}
}

.wvc-iframe-opener-align-right{
	.wvc-iframe-opener-caption-container{
		justify-content: flex-end;
	}
}

.wvc-iframe-opener-caption-text{
	font-weight: 700;
}