.wvc-wolf-twitter-shortcode-text-align-center{
	.wolf-bigtweet-content{
		text-align: center;
	}
}

.wvc-wolf-twitter-shortcode-text-align-left{
	.wolf-bigtweet-content{
		text-align: left;
	}
}

.wvc-wolf-twitter-shortcode-text-align-right{
	.wolf-bigtweet-content{
		text-align: right;
	}
}